# USER CONFIGS
USER_DB_NAME=
USER_DB_USERNAME=
USER_DB_PASSWORD=

# PRODUCT CONFIGS
PRODUCT_DB_NAME=
PRODUCT_DB_USERNAME=
PRODUCT_DB_PASSWORD=

# ORDER CONFIGS
ORDER_DB_NAME=
ORDER_DB_USERNAME=
ORDER_DB_PASSWORD=

#GIT CONFIGS
CONFIG_REPO_PASSWORD=
ENCRYPT_KEY=